@use '../abstracts' as a;

.blog {
  display: grid;
  gap: a.rem(30);

  @media (width >=a.rem(1110)) {
    grid-template-columns: subgrid;
    grid-column: 1 / 4;
    padding-block-start: a.rem(30);
  }


  &__item {
    display: grid;
    grid-template-columns: a.rem(110) auto;
    grid-template-rows: repeat(3, auto);
    column-gap: a.rem(24);
  }

  &__img {
    grid-row: 1 / 4;
  }

  &__number {
    font-size: a.$f-m;
    font-weight: 700;
    color: a.$c-silver;
  }

  &__heading {
    padding: a.rem(12) 0 a.rem(9) 0;
    align-self: center;

    a {
      font-size: a.$f-xs;
      font-weight: 800;
      color: a.$c-blue;
      line-height: 1.1;

      &:hover {
        color: a.$c-red;
      }
    }
  }

  &__paragraph {
    color: a.$c-gray;
    align-self: end;
  }
}