@use '../abstracts' as a;

:root {
  --c-white: #FFFDFA;
  --c-blue: #00001a;
  --c-gray: #5e607a;
  --c-red: #f15d51;
  --c-silver: #c5c6ce;
  --c-yellow: #e9aa52;

  --f-xl: clamp(a.rem(40), 2.147887323943662rem + 1.5023474178403755vw, a.rem(56));
  --f-l: clamp(a.rem(32), 1.823943661971831rem + 0.7511737089201878vw, a.rem(40));
  --f-m: a.rem(32);
  --f-s: a.rem(20);
  --f-body: a.rem(15);

}

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  line-height: 1.7;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

img,
svg {
  display: block;
  max-width: 100%;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1 {
  font-size: clamp(2rem, 0.5rem + 5vw, 5rem);
}